.bgc {
  margin: 10px;
  background-color: #fff;
  padding: 20px;
}

.treeBox {
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  display: flex;
}

.input {
  margin-right: 10px;
  width: 200px;
}

.btn {
  margin-left: 10px;
}

.red {
  color: red;
}

.title {
  font-size: 26px;
}

.line {
  margin-top: 20px;
  font-size: 16px;
}

.col {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  align-items: center;
  margin: 0;
}

.left {
  width: 500px;
}

.right {
  margin-left: 200px;
}

.pane {
  padding-top: 20px;
}

.table {
  white-space: nowrap;
}

.space {
  margin-left: 10px;
  margin-right: 10px;
}

.tree {
  width: 200px;
  height: 800px;
  display: inline-block;
  margin-right: 20px;
  border-right: 1px solid #e8e8e8;
}

.box {
  width: 70%;
  flex-grow: 1;
  margin-left: 20px;
}

